<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link page</title>
    <style>
        body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f4f8;
    margin: 0;
    padding: 20px;
    text-align: center;
}
.add {
    width: 300px;
    margin-top: 0%;
    margin-left: auto;
    margin-right: 200px;
}
.show {
    width: 300px;
    margin-top: -275px;
    margin-left: 200px;
    margin-right: auto;
}

    </style>
</head>
<body>
    <div class="add">
        <h1>لاضافة عنصر</h1>
        <a href="/brands/add">اضافة علامة</a><br>
        <a href="/models/add">اضافة موديل</a><br>
        <a href="/modifications/add">اضافة تعديل</a><br>
        <a href="/parts/add">اضافة قطع</a><br>
        <a href="/workshops/add">اضافة ورشة</a><br>
        <a href="/maintenance-services/add">اضافة خدمة صيانة</a><br>
        <a href="/modification-services/add">اضافة خدمة تعديل</a><br>
        <a href="/workshop-maintenance/add">الورشة و الصيانة</a><br>
        <a href="/workshop-modifications/add">الورشة و التعديلات</a><br>
    </div>
    <div class="show">
        <h1>عرض جميع العناصر</h1>
        <a href="/brands">عرض كل العلامات</a><br>
        <a href="/models">عرض كل الموديلات</a><br>
        <a href="/modifications">عرض كل التعديلات</a><br>
        <a href="/parts">عرض كل القطع</a><br>
        <a href="/workshops">عرض كل الورش</a><br>
        <a href="/maintenance-services">عرض كل خدمات الصيانة</a><br>
        <a href="/modification-services">عرض كل خدمات التعديل</a><br>
        <a href="/workshop-maintenance">عرض كل صيانات الورش</a><br>
        <a href="/workshop-modifications">عرض كل تعديلات الورش</a><br>
    </div>
</body>
</html>